.App {
  text-align: center;
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(images/yoan-agostini-by-yoan-agostini-flat-design-background-minima.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-image: rgba(0, 0, 0, 0.5);
}

p {
  color: rgb(206, 210, 216);
  font-size: 25px;
  font-weight: bolder;
  text-shadow: #000 0px 0px 5px;
}

input {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-size: 15px;
  border-radius: 5px;
  background-color: #f5f5f5;
  outline: 0;
  border: 1px solid grey;
  color: grey;
  font-size: 20px;
}

form {
  padding-bottom: 30px;
  padding-top: 30px;
}

label {
  /* display: block; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

ul {
  list-style: none;
}

#location {
  color: white;
  font-size: 35px;
  font-weight: bolder;
}

#locationField {
  width: 300px;
  height: 40px;
  -webkit-transition: 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-size: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  outline: 0;
  border: 1px solid grey;
}

#locationField:focus {
  border: 1.5px solid grey;
  font-size: 20px;
}

#time {
  font-size: 80px;
  color: white;
  font-weight: bolder;
  text-shadow: #000 0px 0px 5px;
}

h2 {
  color: white;
  font-size: 25px;
  text-shadow: #000 0px 0px 5px;
}

li {
  color: white;
  font-size: large;
  font-style: oblique;
}

.table {
  background: rgba(0, 0, 0, 0.3);
  width: 80%;
}

.table td,
.table th {
  padding: 0.75rem;
  color: white;
  font-size: 18px;
  opacity: 100;
  vertical-align: top;
  border-top: 0px solid;
  text-align: left;
}

h2#EnterWalk {
  font-size: 3rem;
  margin-top: 10px;
}

img#icon {
  height: 140px;
  width: 140x;
}

button {
  font-size: 10px;
  border-radius: 6%;
}
/** NAVBAR CSS **/

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #1e3638;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(50, 72, 77);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
