body {
  background: #e2e2e7;
  font-family: "Raleway", "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
}

.App {
  text-align: center;
}

p {
  font-size: 20px;
}
body {
  background: #e2e2e7;
  font-family: "Raleway", "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
}

.App {
  text-align: center;
}

p {
  font-size: 20px;
}
